*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: hsl(0,0%,95%);
}
#calculator{
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}
#display{
    width:100%;
    font-size:5rem;
    background-color: hsl(0,0%,20%);
    color:white;
    border:none;
    text-align:right;
}
button{
    width:100px;
    height:80px;
    border-radius:50px;
    border:none;
    font-weight: bold;
    font-size:3rem;
    background-color: rgb(70, 64, 64);
    color:white;
    cursor:pointer;
}
button:hover{
    background-color: rgb(70, 64, 64, 0.6);
}
button:active{
    background-color: rgb(70, 64, 64, 0.2);
}
.operatorButton{
    background-color: orange;
}
.operatorButton:hover{
    background-color: rgba(255,165,0,0.6);
}
.operatorButton:active{
    background-color: rgba(255,165,0,0.2);
}


